.task-complete{
  text-decoration: line-through;
}
.show-edit {
  display: none;
}
.inputDiv ,.tableData{
 
display: flex;
justify-content: center;
align-items: center;
margin:1em;


}
.mainTable{
  display:flex;
}
.rightTable,.leftTable{
padding:15px
}

